.form-check {
    margin-left: 10px;
}

button {
    border-radius: 3px;
    border: #202020;
    background-color: #f3eef1;
    border: solid;
    margin-bottom: 10px;
    border-width: thin;
    margin: 10px;
}

.contacto {
    div {
    margin: 20px;
    }

    h1 {

        margin-top: 50px;
        margin-bottom: 50px;
        text-align: left;
    }    
}

input {
    border-color: #202020;
    border-right: none;
    border-left: none;
    border-top: none;
    width: 50%;
}

select {
    border-color: #202020;
    border-right: none;
    border-left: none;
    border-top: none;
    width: 50%;
}

textarea {
    border-color: #202020;
    width: 50%;
}