.FAQS {
    ol {
        max-width: 900px;

        li {
            list-style: none;
            text-align: justify;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        h1 {
            text-align: left;
            padding-left: 2rem;
            font-weight: bold;
            width: fit-content;
            text-align: justify;
        }

        h4 {
            font-weight: bold;
        }
    }
}