
header {
    font-family: 'Courier Prime', monospace;
    background-color: #202020;
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 20% 60% 20%;
}

nav ul {
    display: flex;
}