header {
    font-family: 'Courier Prime', monospace;
    background-color: #202020;
    left: 0;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 20% 60% 20%;
    padding: 10px;
    top: 0%;

    @include mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        margin-left: 50px;

        & img {
            width: 80px;
            height: 80px;
        }
    }

    .headerContent {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            display: none;
            margin-top: auto;
        }

        @include mobile {
            .search-bar {
                display: none;
            }
        }

        @include mobile {
            button {
                display: none;
            }
        }

        @include mobile {
            .borrarTexto {
                Display: none;
            }
        }

    }

    @include mobile {
        nav {
            display: none;
        }
    }

    .comprasCuenta {
        display: flex;
        flex-direction: row;
        align-items: center;

        ul {

            li {
                text-decoration: none;
                color: #ab919e;
                list-style: none;
                padding: 1px;
            }
        }

        .lupaMobile {
            display: none;

            @include mobile {
                display: flex;
            }
        }

        @include mobile {
            .TextoDisplay {
                display: none;
            }
        }

        @include mobile {
            .loguitos {
                display: flex;
            }
        }
    }



}