nav  {

    background-color: #202020;
    a {
    font-family: 'Courier Prime', monospace;
    color: #ab919e;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    }

    ul {
        font-family: 'Courier Prime', monospace;
        list-style: none;
        display: flex;
        justify-content: center;
    }
}

#navBurger {
    display: none;
}