nav {

    background-color: #202020;

    a {
        font-family: 'Courier Prime', monospace;
        color: #ab919e;
        text-decoration: none;
        padding: 5px;
        margin-top: 10px;
    }

    a:hover {
        color: #dbbacc;
    }

    ul {
        font-family: 'Courier Prime', monospace;
        list-style: none;
        display: flex;
        justify-content: center;
    }
}


#navBurger {
    display: none;

    @include mobile {
        display: flex;
    }

    @include tablet {
        display: flex;
    }

    @include mobile {
        .navbar-dark {
            background-color: #202020 !important;
        }
    }

    @include tablet {
        .navbar-dark {
            background-color: #202020 !important;
        }
    }

    @include mobile {
        .bg-dark {
            background-color: #202020 !important;
        }
    }

    @include tablet {
        .bg-dark {
            background-color: #202020 !important;
        }
    }

    @include mobile {
        .container-fluid {
            --bs-bg-opacity: 1;
            background-color: #202020;
        }
    }

    @include tablet {
        .container-fluid {
            --bs-bg-opacity: 1;
            background-color: #202020;
        }
    }

    @include mobile {
        ul {
            font-family: 'Courier Prime', monospace;
            list-style: none;
            color: #ab919e;
        }
    }

    @include tablet {
        ul {
            font-family: 'Courier Prime', monospace;
            list-style: none;
            color: #ab919e;
        }
    }


    @include mobile {
        a {
            color: #ab919e;
            text-decoration: none;
        }
    }

    @include tablet {
        a {
            color: #ab919e;
            text-decoration: none;
        }
    }
}