/*Mixins*/
/*Estilos  globales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
  list-style: none;
}

body {
  font-family: "Courier Prime", monospace;
  background-color: #fffef3;
}

/*Estilos header*/
header {
  font-family: "Courier Prime", monospace;
  background-color: #202020;
  left: 0;
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 20% 60% 20%;
  padding: 10px;
  top: 0%;
}
@media (max-width: 425px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
header .logo {
  margin-left: 50px;
}
header .logo img {
  width: 80px;
  height: 80px;
}
header .headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 425px) {
  header .headerContent {
    display: none;
    margin-top: auto;
  }
}
@media (max-width: 768px) {
  header .headerContent {
    display: none;
    margin-top: auto;
  }
}
@media (max-width: 425px) {
  header .headerContent .search-bar {
    display: none;
  }
}
@media (max-width: 768px) {
  header .headerContent .search-bar {
    display: none;
  }
}
@media (max-width: 425px) {
  header .headerContent button, header .headerContent footer #cositasfooter .mail form button, footer #cositasfooter .mail form header .headerContent button {
    display: none;
  }
}
@media (max-width: 768px) {
  header .headerContent button, header .headerContent footer #cositasfooter .mail form button, footer #cositasfooter .mail form header .headerContent button {
    display: none;
  }
}
@media (max-width: 425px) {
  header .headerContent .borrarTexto {
    Display: none;
  }
}
@media (max-width: 768px) {
  header .headerContent .borrarTexto {
    Display: none;
  }
}
@media (max-width: 425px) {
  header nav {
    display: none;
  }
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
}
header .comprasCuenta {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .comprasCuenta ul li {
  text-decoration: none;
  color: #ab919e;
  list-style: none;
  padding: 1px;
}
header .comprasCuenta .lupaMobile {
  display: none;
}
@media (max-width: 425px) {
  header .comprasCuenta .lupaMobile {
    display: flex;
  }
}
@media (max-width: 768px) {
  header .comprasCuenta .lupaMobile {
    display: flex;
  }
}
@media (max-width: 425px) {
  header .comprasCuenta .TextoDisplay {
    display: none;
  }
}
@media (max-width: 768px) {
  header .comprasCuenta .TextoDisplay {
    display: none;
  }
}
@media (max-width: 425px) {
  header .comprasCuenta .loguitos {
    display: flex;
  }
}
@media (max-width: 768px) {
  header .comprasCuenta .loguitos {
    display: flex;
  }
} /*Estilos navbar*/
nav {
  background-color: #202020;
}
nav a {
  font-family: "Courier Prime", monospace;
  color: #ab919e;
  text-decoration: none;
  padding: 5px;
  margin-top: 10px;
}
nav ul {
  font-family: "Courier Prime", monospace;
  list-style: none;
  display: flex;
  justify-content: center;
}

#navBurger {
  display: none;
}
@media (max-width: 425px) {
  #navBurger {
    display: flex;
  }
}
@media (max-width: 768px) {
  #navBurger {
    display: flex;
  }
}
@media (max-width: 425px) {
  #navBurger .navbar-dark {
    background-color: #202020 !important;
  }
}
@media (max-width: 768px) {
  #navBurger .navbar-dark {
    background-color: #202020 !important;
  }
}
@media (max-width: 425px) {
  #navBurger .bg-dark {
    background-color: #202020 !important;
  }
}
@media (max-width: 768px) {
  #navBurger .bg-dark {
    background-color: #202020 !important;
  }
}
@media (max-width: 425px) {
  #navBurger .container-fluid {
    --bs-bg-opacity: 1;
    background-color: #202020;
  }
}
@media (max-width: 768px) {
  #navBurger .container-fluid {
    --bs-bg-opacity: 1;
    background-color: #202020;
  }
}
@media (max-width: 425px) {
  #navBurger ul {
    font-family: "Courier Prime", monospace;
    list-style: none;
    color: #ab919e;
  }
}
@media (max-width: 768px) {
  #navBurger ul {
    font-family: "Courier Prime", monospace;
    list-style: none;
    color: #ab919e;
  }
}
@media (max-width: 425px) {
  #navBurger a {
    color: #ab919e;
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  #navBurger a {
    color: #ab919e;
    text-decoration: none;
  }
}

/*Estilos searchbar*/
.busqueda {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
.busqueda .search-bar {
  width: 80%;
  height: 50px;
  align-items: center;
  background: rgb(253, 253, 253);
  border-radius: 60px;
  display: flex;
  border: 1px solid black;
  margin-left: 20px;
  justify-content: space-between;
}
.busqueda .search-bar input, .busqueda .search-bar select {
  border: 0;
  flex: 1;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
  color: rgb(3, 0, 2);
  width: 100%;
  max-width: 700px;
  align-items: center;
  background: transparent;
  border: 1;
  align-content: center;
}
.busqueda .search-bar button, .busqueda .search-bar footer #cositasfooter .mail form button, footer #cositasfooter .mail form .busqueda .search-bar button {
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ab919e;
  cursor: pointer;
  padding: 5px;
  margin: auto;
}

/*Estilos pagina Principal*/
@media (max-width: 425px) {
  main a {
    width: fit-content;
  }
}
@media (max-width: 768px) {
  main a {
    width: fit-content;
  }
}
@media (max-width: 425px) {
  main .intro {
    height: 100px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 0px;
    font-size: 25px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  main .intro {
    height: 100px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 0px;
    font-size: 25px;
    text-align: center;
  }
}
main h1 {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}
main #productosection {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  main #productosection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  main #productosection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
main #productosection .intro {
  height: 300px;
  width: 300px;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 25px;
}
main #productosection .intro span {
  font-weight: bold;
}
@media (max-width: 425px) {
  main #productosection .intro {
    height: auto;
    width: 300px;
    text-align: center;
    margin-left: 0%;
  }
}
@media (max-width: 768px) {
  main #productosection .intro {
    height: auto;
    width: 300px;
    text-align: center;
    margin-left: 0%;
  }
}
main #productosection .productodiv {
  background-color: white;
  color: black;
  width: 250px;
  padding: 30px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
main #productosection .productodiv .hover-animation {
  animation-play-state: paused;
}
main #productosection .productodiv .hover-animation:hover {
  animation-play-state: running;
  animation-iteration-count: infinite;
}
main #locales, main #nuevaColeccion {
  display: flex;
  flex-direction: row;
}
@media (max-width: 425px) {
  main #locales, main #nuevaColeccion {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  main #locales, main #nuevaColeccion {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
main #locales img, main #nuevaColeccion img {
  width: 750px;
  height: 750px;
  border-radius: 0 10px 10px 0;
}
@media (max-width: 425px) {
  main #locales img, main #nuevaColeccion img {
    border-radius: 10px;
    width: 425px;
    height: 425px;
  }
}
@media (max-width: 768px) {
  main #locales img, main #nuevaColeccion img {
    border-radius: 10px;
    width: 768px;
    height: 768px;
  }
}
main #locales .divlocales, main #nuevaColeccion .divlocales {
  text-align: justify;
  padding: 100px;
  border-top-style: solid;
  border-color: rgb(238, 236, 236);
  border-width: 1px;
}
@media (max-width: 425px) {
  main #locales .divlocales, main #nuevaColeccion .divlocales {
    text-align: center;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  main #locales .divlocales, main #nuevaColeccion .divlocales {
    text-align: center;
    padding: 20px;
  }
}
main #locales h1, main #nuevaColeccion h1 {
  font-weight: bold;
}
@media (max-width: 425px) {
  main #locales h1, main #nuevaColeccion h1 {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  main #locales h1, main #nuevaColeccion h1 {
    font-size: 30px;
    text-align: center;
  }
}

#nuevaColeccion {
  background-color: #f3eef1;
}
@media (max-width: 425px) {
  #nuevaColeccion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    margin: 0%;
  }
}
@media (max-width: 768px) {
  #nuevaColeccion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    margin: 0%;
  }
}
#nuevaColeccion img {
  background-color: #f3eef1;
}
@media (max-width: 425px) {
  #nuevaColeccion img {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  #nuevaColeccion img {
    margin-left: auto;
  }
}
#nuevaColeccion .divNuevaColeccion {
  text-align: justify;
  padding: 100px;
  border-top-style: solid;
  border-color: rgb(238, 236, 236);
  border-width: 1px;
}
@media (max-width: 425px) {
  #nuevaColeccion .divNuevaColeccion {
    margin: 0%;
    padding: 0%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  #nuevaColeccion .divNuevaColeccion {
    margin: 0%;
    padding: 0%;
    text-align: center;
  }
}
#nuevaColeccion .decolink {
  border-radius: 10px;
  border-color: #202020;
  border: solid;
  background-color: #ab919e;
  text-align: center;
}
@media (max-width: 425px) {
  #nuevaColeccion .decolink {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  #nuevaColeccion .decolink {
    margin-top: 10px;
  }
}
#nuevaColeccion .decolink a {
  text-decoration: none;
  padding: 20px;
  color: #202020;
  text-align: center;
  align-items: center;
  font-size: 20px;
}

/*Estilos footer*/
footer {
  background-color: #202020;
  color: #ab919e;
  font-weight: 500;
  max-width: 100%;
}
footer .logoredes {
  padding-top: 10px;
}
footer .logoredes ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}
footer .logoredes ul img {
  width: 50px;
  height: 50px;
  align-items: center;
  margin: 5px;
}
footer #cositasfooter {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
}
@media (max-width: 425px) {
  footer #cositasfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  footer #cositasfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 425px) {
  footer #cositasfooter div {
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  footer #cositasfooter div {
    padding-bottom: 20px;
  }
}
footer #cositasfooter h6 {
  font-weight: bold;
  text-align: center;
}
footer #cositasfooter .enlaces a, footer #cositasfooter .locales a, footer #cositasfooter .datos a {
  text-decoration: none;
  color: #ab919e;
}
footer #cositasfooter .enlaces ul, footer #cositasfooter .locales ul, footer #cositasfooter .datos ul {
  list-style: none;
  padding: 0%;
}
@media (max-width: 425px) {
  footer #cositasfooter .enlaces ul li, footer #cositasfooter .locales ul li, footer #cositasfooter .datos ul li {
    text-align: center;
  }
}
@media (max-width: 768px) {
  footer #cositasfooter .enlaces ul li, footer #cositasfooter .locales ul li, footer #cositasfooter .datos ul li {
    text-align: center;
  }
}
footer #cositasfooter .mail form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
}
footer #cositasfooter .mail form div {
  margin: 10px 0 10px 0;
  width: 80%;
}
footer #cositasfooter .mail #email {
  width: auto;
  border-radius: 5px;
  background: #ab919e;
}
@media (max-width: 425px) {
  footer #cositasfooter .mail #email {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  footer #cositasfooter .mail #email {
    width: 100%;
    text-align: center;
  }
}
footer #cositasfooter .mail #email::placeholder {
  color: black;
  text-align: center;
}
footer .copyyarriba {
  text-align: center;
  text-decoration: underline;
  justify-content: space-around;
  max-width: 100%;
  color: #ab919e;
}
footer .copyyarriba a {
  color: #ab919e;
}

/*EstilosContactos*/
.form-check {
  margin-left: 10px;
}

button, footer #cositasfooter .mail form button {
  border-radius: 3px;
  border: #202020;
  background-color: #f3eef1;
  border: solid;
  margin-bottom: 10px;
  border-width: thin;
  margin: 10px;
}

.contacto div {
  margin: 20px;
}
.contacto h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}
@media (max-width: 425px) {
  .contacto h1 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .contacto h1 {
    text-align: center;
  }
}

input, select {
  border-color: #202020;
  border-right: none;
  border-left: none;
  border-top: none;
  width: 50%;
}
@media (max-width: 425px) {
  input, select {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  input, select {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 425px) {
  h3 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  h3 {
    text-align: center;
  }
}

textarea {
  border-color: #202020;
  width: 50%;
}
@media (max-width: 425px) {
  textarea {
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 768px) {
  textarea {
    width: 100%;
    align-items: center;
  }
}

/*EstilosFAQS*/
.FAQS ol {
  max-width: 900px;
  padding: 1rem;
}
.FAQS ol li {
  list-style: none;
  text-align: justify;
  margin-right: 30px;
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .FAQS ol li {
    text-align: center;
    margin-right: 0%;
  }
}
@media (max-width: 768px) {
  .FAQS ol li {
    text-align: center;
    margin-right: 0%;
  }
}
.FAQS ol h1 {
  text-align: left;
  padding-left: 2rem;
  font-weight: bold;
  width: fit-content;
  text-align: justify;
}
@media (max-width: 425px) {
  .FAQS ol h1 {
    text-align: center;
    padding-left: 0%;
  }
}
@media (max-width: 768px) {
  .FAQS ol h1 {
    text-align: center;
    padding-left: 0%;
  }
}
.FAQS ol h4 {
  font-weight: bold;
}
@media (max-width: 425px) {
  .FAQS ol h4 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .FAQS ol h4 {
    text-align: center;
  }
}

/*Estilos productos*/
main h2 {
  margin: 10px;
}
@media (max-width: 425px) {
  main h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  main h2 {
    text-align: center;
  }
}

#productosPage {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 425px) {
  #productosPage {
    gap: 10px;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  #productosPage {
    gap: 10px;
    justify-content: center;
  }
}
#productosPage .productodiv {
  background-color: white;
  color: black;
  width: 250px;
  padding: 30px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#productosPage .productodiv h3 {
  font-size: small;
}
#productosPage .productodiv .hover-animation {
  animation-play-state: paused;
}
#productosPage .productodiv .hover-animation:hover {
  animation-play-state: running;
  animation-iteration-count: infinite;
}

main h5 {
  font-weight: 600;
  text-align: center;
}
main h2 {
  font-weight: 600;
  text-align: center;
}
main #introNosotros {
  background-color: #f3eef1;
  display: flex;
}
@media (max-width: 425px) {
  main #introNosotros {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  main #introNosotros {
    display: flex;
    flex-direction: column;
  }
}
main #introNosotros .textoDiv {
  width: 90%;
  padding: 40px;
  background-color: white;
  margin-top: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media (max-width: 425px) {
  main #introNosotros .textoDiv {
    width: auto;
    margin: 0%;
  }
}
@media (max-width: 768px) {
  main #introNosotros .textoDiv {
    width: auto;
    margin: 0%;
  }
}
main #bienvenida {
  margin-left: 300px;
  margin-right: 300px;
  text-align: justify;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 425px) {
  main #bienvenida {
    margin: auto;
    padding: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  main #bienvenida {
    margin: auto;
    padding: 20px;
    text-align: center;
  }
}
main #palabrasFounder {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 425px) {
  main #palabrasFounder {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  main #palabrasFounder {
    display: flex;
    flex-direction: column;
  }
}
main #palabrasFounder .palabrasTextual {
  text-align: justify;
  padding: 100px;
  border-top-style: solid;
  border-color: rgb(238, 236, 236);
  border-width: 1px;
}
@media (max-width: 425px) {
  main #palabrasFounder .palabrasTextual {
    padding: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  main #palabrasFounder .palabrasTextual {
    padding: 20px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
